[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "truthiness"]
	path = truthiness
	url = https://github.com/dalejbarr/truthiness
	shallow = true
	registered = true
